<!-- CARD ROW -->
<div class="row img-row">
  <div class="col-md-3 center-block gif-img">

  </div>

  <div class="col-md-4">
    <div class="col-md-12 prompt-box">
      <h3><%= @prompt.phrase %></h3>
    </div>
  </div>

  <div class="col-md-2">
    <div class="col-md-12 info-box">
     <p>Name: <%= @player.username %> </p>
     <p>Game: <%= @round.game.id %> </p>
      <p>Round : <%= @round.game_round %> </p>
      <p> Judge: <%= @judge.username %></p>
      <ol>
      <% @round.game.players.uniq.each do |player| %>
        <li><%= player.username %>: <%= player.score %> </li>
        <% end %>
      </ol>

      <ul>
      </ul>
    </div>
  </div>

  <div class="col-md-3 center-block gif-img">

 </div>
</div><!-- /middle row -->


<!-- BOTTOM ROW -->
<div class="row img-row">
  <% @gifs[0..3].each do |gif| %>
  <div class="col-md-3 center-block gif-img">
  
  
  <div id="gif">
  <div class="gif-button"> 
    <% #this is where we want the sockets to get updated %>
    <%= form_for @round do |f| %>
    <%= f.hidden_field :id, :value => @round.game_round %>
    <%= f.hidden_field :gif_id, :value => gif.id %>
    <%= f.submit "I Choose You!", :type => :image, :src => gif.url %>
    <% end %>
  </div>
  </div>

  </div>
  <% end %>
</div><!-- /bottom row -->

<div class="judge-instructions text-center">
  <img src="<%= asset_path( 'crown-tilt.png' ) %>"><h4>Your turn, gif czar. Crown the best gif!</h4>
</div>