<!-- TOP ROW -->
<div class="row img-row">
  <% @gifs[0..3].each do |gif| %>
  <div class="col-md-3 center-block gif-img">
    <div class="gif-button">

      <%= form_for [@round, Selection.new] do |f| %>
      <%= f.hidden_field :gif_id, :value => gif.id %>
      <%= f.submit "I Choose You!", :type => :image, :src => gif.url %>
      <% end %>
    </div>
  </div>
  <% end %>
</div><!-- /top row -->

<!-- MIDDLE ROW -->
<div class="row img-row">
  <div class="col-md-3 center-block gif-img">
    <div class="gif-button">

      <%= form_for [@round, Selection.new] do |f| %>
      <%= f.hidden_field :gif_id, :value => @gifs[4].id %>
      <%= f.submit "I Choose You!", :type => :image, :src => @gifs[4].url %>
      <% end %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="col-md-12 prompt-box">
      <h3><%= @prompt.phrase %></h3>
    </div>
  </div>

  <div class="col-md-2">
    <div class="col-md-12 info-box">
      

      <div class="row">
        <h5>Hi, <strong><%= @player.username %></strong>.</h5>
      </div>
      <table class="table-striped">
        <thead>
        <th>Players</th>
        <th>Scores</th>
      </thead>
      <% @round.game.players.uniq.each do |player| %>
      <tr><td>
          <% if @judge == player %>
            <div class = "info-crown"><img src="<%= asset_path( 'crown-tilt.png' ) %>"></div>
          <% end %>
          <%= player.username %></td><td><%= player.score %></td>
        </tr>
        <% end %>
      </table>
      <h5> Game <%= @game.id %> | Round <%= @round.game_round %></h5>
  </div><!-- /.info-box -->
</div>



  <div class="col-md-3 center-block gif-img">
    <div class="gif-button">

     <%= form_for [@round, Selection.new] do |f| %>
     <%= f.hidden_field :gif_id, :value => @gifs[5].id %>
     <%= f.submit "I Choose You!", :type => :image, :src => @gifs[5].url %>
     <% end %>
   </div>
 </div>
</div><!-- /middle row -->


<!-- BOTTOM ROW -->
<div class="row img-row">
  <% @gifs[6..9].each do |gif| %>
  <div class="col-md-3 center-block gif-img">

    <div class="gif-button">
      <%= form_for  [@round, Selection.new] do |f| %>
      <%= f.hidden_field :gif_id, :value => gif.id %>
      <%= f.submit "I Choose You!", :type => :image, :src => gif.url %>
      <% end %>
    </div>
  </div>
  <% end %>
</div><!-- /bottom row -->
