<!-- TOP ROW -->
<div class="row img-row">
  <% @gifs[0..3].each do |gif| %>
  <div class="col-md-3 center-block gif-img">
    <div class="gif-button">

      <%= form_for [@round, Selection.new] do |f| %>
      <%= f.hidden_field :gif_id, :value => gif.id %>
      <%= f.submit "I Choose You!", :type => :image, :src => gif.url %>
      <% end %>
    </div>
  </div>
  <% end %>
</div><!-- /top row -->

<h1>HERE ARE THE RESULTS</h1>

<!-- MIDDLE ROW -->
<div class="row img-row">
  <div class="col-md-3 center-block gif-img">
    <div class="gif-button">

      <%= form_for [@round, Selection.new] do |f| %>
      <%= f.hidden_field :gif_id, :value => @gifs[4].id %>
      <%= f.submit "I Choose You!", :type => :image, :src => @gifs[4].url %>
      <% end %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="col-md-12 prompt-box">
      <h3><%= @prompt.phrase %></h3>
    </div>
  </div>

  <div class="col-md-2">
    <div class="col-md-12 info-box">
      <p>Name: <%= @player.username %> </p>
      <p>Round : <%= @round.game_round %> </p>
      <p> Judge: <%= @judge.username %></p>
      <ol>
      <% @round.game.players.uniq.each do |player| %>
        <li><%= player.username %>: <%= player.score %> </li>
        <% end %>
      </ol>
    </div>
  </div>



  <div class="col-md-3 center-block gif-img">
    <div class="gif-button">

     <%= form_for [@round, Selection.new] do |f| %>
     <%= f.hidden_field :gif_id, :value => @gifs[5].id %>
     <%= f.submit "I Choose You!", :type => :image, :src => @gifs[5].url %>
     <% end %>
   </div>
 </div>
</div><!-- /middle row -->


<!-- BOTTOM ROW -->
<div class="row img-row">
  <% @gifs[6..9].each do |gif| %>
  <div class="col-md-3 center-block gif-img">

    <div class="gif-button">
      <%= form_for  [@round, Selection.new] do |f| %>
      <%= f.hidden_field :gif_id, :value => gif.id %>
      <%= f.submit "I Choose You!", :type => :image, :src => gif.url %>
      <% end %>
    </div>
  </div>
  <% end %>
</div><!-- /bottom row -->
