<!-- PROMPT ROW -->
<div class="row img-row">
  <div class="col-md-3 center-block gif-img">
  </div>

  <div class="col-md-4">
    <div class="col-md-12 prompt-box">
      <h3><%= @prompt.phrase %></h3>
    </div>
  </div>

  <div class="col-md-2">
    <div class="col-md-12 info-box">
     <p>Name: <%= @player.username %> </p>
      <p>Round : <%= @round.game_round %> </p>
      <p> Judge: <%= @judge.username %></p>
      <ol>
      <% @round.game.players.uniq.each do |player| %>
        <li><%= player.username %>: <%= player.score %> </li>
        <% end %>
      </ol>
      <ul>
      </ul>
    </div>
  </div>

  <div class="col-md-3 center-block gif-img">
 </div>
</div><!-- /prompt row -->


<!-- CARD ROW -->
<div class="row img-row">
  <% @selections.each do |selection| %>
  <div class="col-md-4 center-block gif-img">
  <div class="gif-flat">
    <%= image_tag(selection.gif.url) %>
  </div>
  <div class="gif-label"><h3><%= selection.gif.player.username %></h3></div>
  </div>
  <% end %>
</div><!-- /bottom row -->

<div class="waiting text-center">
  <%= link_to image_tag('https://media.giphy.com/media/2h0paFIFQHUsg/giphy.gif'), game_results_path(@game) %>
  <h4>Waiting...</br>
</div>
